<!-- Mobile (no columns) -->
<div class="l-mhflexed hide3">
    {{- partial "nav/button/sidebar.html" . -}}
</div>
<div class="l-mhflexed hide3">
    {{- partial "nav/masthead/title-site.html" . -}}
</div>
<div class="l-mhflexed l-mhflexed-right hide3">
    {{- partial "nav/button/search.html" . -}}
    {{- partial "nav/button/toc.html" . -}}
</div>


<!-- Phablet and up (2 columns) -->
<div class="l-mhgrided show3" id="logo">
    {{- partial "nav/button/sidebar.html" . -}}
    {{- partial "nav/masthead/title-site.html" . -}}
</div>
<div class="l-mhgrided show3" id="men1">
    {{- partial "nav/masthead/menu.html" . -}}
</div>
<div class="l-mhgrided l-mhgrided-right show3" id="ctrl">
    {{- partial "nav/button/search.html" . -}}
    {{- partial "nav/button/toc.html" . -}}
</div>
