{{ $cs := .CurrentSection }}
{{ $csp := $cs.Parent }}
{{ if ne $csp .FirstSection }}
	<p>
			{{ with $csp }}{{- partial "nav/bclink.html" . -}}{{ end }}
			{{- partial "nav/breadcrumb/separator.html" . -}}
			{{ with $cs }}{{- partial "nav/bclink.html" . -}}{{ end }}
	</p>
{{ else }}
    <p>{{ with $cs }}{{ partial "nav/bclink.html" . }}{{ end }}</p>
{{ end }}

{{- define "partials/nav/bclink.html" -}}
	<a class="meta__item meta__item--font font-italic" href="{{ .RelPermalink }}">{{- .Title | $.Page.RenderString -}}</a>
{{- end -}}
