<!DOCTYPE html>
<html {{ with .Site.Language.Lang }}lang="{{ . }}"{{ end }}>
{{- partial "head.html" . -}}
<body>
<header class="l-masthead l-nav" id="masthead" >
    {{- partial "masthead.html" . -}}
</header>
<div class="l-page" id="page">
<div class="l-content" id="content">
  <div class="l-main" id="main">
      {{- block "main" . -}}{{- end -}}
      {{/* - partial "footer/main.html" . - */}}
  </div>
  <aside class="l-sidebar l-nav" id="sidebar">
      {{- block "sidebar" . -}}{{- end -}}
  </aside>
    {{- block "toc" . -}}{{- end -}}
</div>
</div>
{{- partial "foot.html" . -}}
</body>
</html>
