{{- define "main" -}}
    <main class="l-box" id="box">
        <header class="titlebox">
            {{- partial "img/featuredmargin.html" . -}}
            <div class="title title-list">
                <h1>{{- .Title | $.Page.RenderString -}}</h1>
                {{ if (not (eq .Params.subtitle false) ) }}
                    {{- with .Description -}}
                        <p class="description">{{- . | $.Page.RenderString -}}</p>
                    {{ end }}
                {{- end -}}
            </div>
        </header>
        <section class="md md-serif md-list">
            {{- partial "content.html" . -}}
        </section>
        <section class="l-section">
            <nav class="nav-list">
                <ul>
                    {{- range .Pages -}}
                        {{- .Render "li" -}}
                    {{- end -}}
                </ul>
            </nav>
        </section>
    </main>
{{- end -}}


{{- define "sidebar" -}}
{{- end -}}
