{{- define "main" -}}
    <main class="l-box" id="box">
        <header class="titlebox">
            {{- partial "img/featuredmargin.html" . -}}
            <div class="title title--list">
                {{ partial "title/title.html" . }}
                {{ partial "title/subtitle.html" . }}
            </div>
        </header>
        <section class="md md-serif md-list">
            {{- partial "content.html" . -}}
        </section>
        <section>
            <nav class="nav-list">
                <ul>
                    {{- range .Pages -}}
                        {{- .Render "li" -}}
                    {{- end -}}
                </ul>
            </nav>
        </section>
    </main>
{{- end -}}


{{- define "sidebar" -}}
{{- end -}}
