<nav class="nav_pages">
	{{ with .NextInSection }}
	<a href="{{ .RelPermalink }}" class="prev">
		<div class="icon">chevron_left</div>
		{{- partial "nav/page/preview" . -}}
	</a>
	{{- end -}}
	{{ with .PrevInSection }}
	<a href="{{ .RelPermalink }}" class="next">
		{{- partial "nav/page/preview" . -}}
		<div class="icon">chevron_right</div>
	</a>
	{{- end -}}
</nav>

{{- define "partials/nav/page/preview" -}}
<div class="page">
	<h4>
		{{ with .Param "menu.doc.pre" }}<span class="icon">{{ . }}</span>{{ end }}
		{{ .Title | $.Page.RenderString }}
	</h4>
	{{ with .Description }}<p>{{ . | $.Page.RenderString }}</p>{{ end }}
</div>
{{- end -}}

{{- define "partials/nav/section/preview" -}}
{{ .Title | $.Page.RenderString }}
{{- end -}}
